@import "../../constants/dimensions.scss";

.mainWeatherCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px;

  &__element {
    margin-bottom: 0;

    &-main {
      font-size: 40px;
      margin-bottom: 10px;
    }

    &-max {
      color: #e79f50;
      margin-bottom: 0;
    }

    &-min {
      color: #50a8e7;
      margin-bottom: 0;
    }
  }
}
