.mainWeatherCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-flow: initial;

  &__left {
    font-size: 50px;
    padding: 10px;
  }

  &__right {
    &-max {
      color: #e79f50;
      margin-bottom: 0;
    }

    &-min {
      color: #50a8e7;
      margin-bottom: 0;
    }
  }
}
