@import "../../constants/dimensions.scss";

.mainWeatherCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-flow: initial;
  margin-top: 5%;
  width: 30%;

  &__left {
    font-size: 50px;
    padding: 10px;

    @media (max-width: $md) {
      font-size: 30px;
      width: 100%;
    }
  }

  &__right {
    @media (max-width: $md) {
      width: 100%;
    }

    &-max {
      color: #e79f50;
      margin-bottom: 0;
    }

    &-min {
      color: #50a8e7;
      margin-bottom: 0;
    }
  }
}
