.selectCityModal {
  padding-bottom: 50px;
}

.modal {
  &__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &-option {
      margin: 20px 0 0;
      width: 100%;
    }
  }
}
