.selectCityModal {
  padding-bottom: 50px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__option {
    margin: 20px 0 0;
    width: 100%;
  }
}
